<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title_page %} FakePinterest {% endblock title_page %}
    </title>
  </head>
  <body>
    {% block body_content %}
    <h1>Homepage</h1>

    <form method="POST">
      {{ form.csrf_token }}
      {{form.email.label()}}
      {{form.email()}}
      {{form.password.label()}}
      {{form.password()}}
      {{form.confirm_buttom()}}
    </form>

    <p><a href="criarconta">Criar Conta</a></p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
      dolores impedit ducimus laudantium! Laudantium officia, adipisci ullam
      minima modi distinctio iusto! Tenetur ullam illo temporibus. Tempore
      repellat <strong>itaque possimus praesentium?</strong> Animi nostrum,
      neque ducimus illo, quo vero quos natus maiores architecto ab possimus
      quas veniam explicabo nesciunt. Aut, ipsa modi soluta perferendis atque
      sed dolor eum veniam, repudiandae, obcaecati porro.
    </p>
    {% endblock body_content %}
  </body>
</html>
