{% extends "homepage.html" %} {% block title_page %} Cadastrar -
FakePinterest {% endblock title_page %} {% block body_content %}

<form method="POST">
    {{ form.csrf_token }}
    {{form.email.label()}}
    {{form.email()}}
    {{form.username.label()}}
    {{form.username()}}
    {{form.password.label()}}
    {{form.password()}}
    {{form.confirm_password.label()}}
    {{form.confirm_password()}}
    {{form.confirm_buttom()}}
  </form>

  
<a href="{{ url_for('homepage') }}">Cancelar</a>
{% endblock body_content %}